img{
  border-radius: 1rem;
  margin-bottom: 4rem;
}
h5{
  font-weight: 600; /* Fairly bold */
  letter-spacing: 0.05em; /* Slightly spaced-out letters */
  font-size: 1.25em; /* Adjust font size as needed */
  line-height: 1.4; /* Adjust line height for better readability */
  color: #333; /* Dark gray text color */
  margin: 0.5em 0; /* Adjust margins as needed */
  padding-left: 5rem;
}
.img{
  width: 60%;
  height: 400px;
}

.backToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: auto;
  /* background-color: rgb(190, 190, 190); */
  opacity: 40%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 60px;
  font-weight: bolder;
}

.accordion {
  background: linear-gradient(135deg, #bceaff, #3593da);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 15px;
}

.active, .accordion:hover {
  background: linear-gradient(135deg, #f5faff, #75c1fb);
  color: aliceblue;
}

.dark{
  background: rgba(0, 0, 0, 0.7)  ;
  color: aliceblue;
  border-radius: 25px;
  padding: 20px;
}
