<section class="text">

  <!-- WHAT WAS HERE BEFORE IS NOW IN THE FILE NAMED REMOVED.HTML -->

  <div class="card">
    <div style="font-size:x-large; color: black;" class="card-header">
      List of Data
    </div>
<div style="text-align: center;">
  <button class="btn btn-outline-danger" (click)="testFn()" #testbtn style="width: 10%; display:inline-block;">TEST</button>
  <button class="btn btn-outline-primary" style="width: 10%; display:inline-block;">FILTER</button>
</div>
    <div style="margin-top: 2rem;" class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="firstNameId"></label>
      <div class="col-md-8">
        <p style="color:black">Please select data to display</p>
        <select (change)="filterfn(types.value)" #types aria-placeholder="Select data to display" class="form-control">
          <option value="All" selected>All</option>
          <option value="Money">Money</option>
          <option value="Song">Song</option>
          <option value="Alien">Alien</option>
          <option value="dataFromBack">dataFromBack</option>
        </select>
      </div>
    </div>
    <div class="card-body">
      <button class="btn btn-info newButton" routerLink="/pages/testing/create-new">New&ensp;<b>+</b></button>
      <table style="background-color: rgb(226, 226, 226);" class="table table-sm">
        <thead>
          <tr>
            <th scope="col" style="width: 90px">SN</th>
            <th scope="col">Parameter</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody *ngIf="testObservableListData$  | async as items">

          <tr *ngFor="let item of items">
            <th scope="row">{{item.serialNo}}</th>
            <td class="parameter"
                [routerLink]="['/pages/testing', item.id,'view-detail-page']">{{item.parameter}}</td>
            <td>{{item.type}}</td>
            <!-- (click)="function()" -->
            <!-- REMEMBER ROUTERLINK ALWAYS STARTS WITH A /  ALSO SEE HOW ITEM.ID IS BOUND IN THE ROUTERLINK AND THE OMMISSION OF SLASHES AFTER THE FIRST PART-->
            <td> <div class="actionBtn btn" [routerLink]="['/pages/testing', item.id , 'edit-page']" >Edit</div>
                 <div class="actionBtn btn" (click)="deleteFn(item.id)">Delete</div> </td>
          </tr>

        </tbody>

        <tfoot>
          <tr>
            <td></td>
            <td colspan="2" style="text-align: center;"></td>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>









</section>
