<p>exercises works!</p>
<section class="text">
  <div class="dark">
    <h3>After Angular Getting Started try this exercise:</h3>
    <ol>
      <li>make a new page (new component), which would be a page showing anything you choose (e.g a shop page, or a hotel home page, etc. anything of your choosing)</li>
      <li>add it to the navbar on the homepage with the appropriate routing to take you to the page you made when you click it on the navbar.</li>
      <li>this page should make use of both property binding and event binding in whatever way.</li>
      <li>this page should make use of both ngIf and ngFor in whatever way.</li>
      <li>the single page (can be multiple if you want) should include at least two nested components; the “app-stars” component, then any other component in the app or a new one of your making</li> <br>

      All these things don’t have to make sense in the context of the page you made, what’s important is that they work and show.
    </ol>
  </div>
  <br>

  <div class="dark">
    <h3>After Angular Reactive Forms try this exercise:</h3>
    On the same page you made, add a section for CRUD, where you can:
    <ol>
      <li>create something (anything) using a form,
        (also create the same thing using a form on a modal)
      </li>
      <li>view it’s details on another section/page/anywhere else
        (also view its details on a modal when you click the item you created)
      </li>
      <li>edit it from an edit section/page/anywhere else
        (also edit it with a modal showing an edit form)
      </li>
      <li>and delete it.
        (also delete it using a modal that asks you if you’re sure you want to delete it, then it runs the delete function when you click yes.)
      </li>
    </ol>
    — Each question has 2 parts, as you can see. Each being a different way to do the same integration. One with and one without a modal. You’re free to do whatever you want as far as you achieve the goal. <br>
    — I would advise doing 1 - 4 without their modal versions first, then when doing it with the modal versions, you can check the integrations in the notes app’s “Complexity Page” for clues on how to do the versions with the modals (only for create and view). <br>
    — You need to know how to add/remove data to and from the faked database in the app so read that up in the “Faking a Backend”, or rewatch that part of the tutorial by clicking where I linked to “faking a backend”.
  </div>




</section>
