<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<section class="content">
  <!-- NAVBAR  -->
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Notes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['/pages']" routerLinkActive="active" class="nav-link " tabindex="-1">How To Use</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/testing" routerLinkActive="active" class="nav-link" aria-current="page">Testing</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/testing2" routerLinkActive="active" class="nav-link" aria-current="page">Testing2</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/integrations" routerLinkActive="active" class="nav-link">Integration</a>
          </li>
<li class="nav-item">
  <a   routerLinkActive="active" class="nav-link"  routerLink="/shop">Shop</a>
</li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['pages/rxjs-page']">RXJS</a></li>
              <li><a class="dropdown-item" [routerLink]="['pages/filters-page']">Filters</a></li>
              <li><a class="dropdown-item" [routerLink]="['pages/routing-page']">Routing by Id</a></li>
              <li><a class="dropdown-item" [routerLink]="['pages/form-duplication-page']">Form Duplication</a></li>
              <li><a class="dropdown-item" [routerLink]="['pages/cdn-page']">+ Bootstrap/Fontawesome</a></li>
              <li><a class="dropdown-item" [routerLink]="['pages/more-notes']">More notes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['pages/complexity-page']">More Complex Form</a></li>
              <li><a class="dropdown-item" [routerLink]="['pages/common-issues-page']">Common Issues</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- <div style="text-align: center;  padding-top: 30%;">
  <button class="btn btn-outline cetner-btn">click</button>
</div> -->
  <!-- <p class="dummyText">Content here!</p> -->
</section>

<router-outlet></router-outlet>


<!-- Footer -->
<footer class="bg-dark text-center text-white" style="margin-top: 550px;">
  <!-- Grid container -->
  <div class="container p-4">


    <!-- Section: Text -->
    <section class="mb-4">
      <p>      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a [routerLink]="['pages/filters-page']" class="text-white">Filters</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a [routerLink]="['pages/routing-page']" class="text-white">Routing</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a [routerLink]="['pages/form-duplication-page']" class="text-white">Duplication</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a [routerLink]="['pages/cdn-page']" class="text-white">CDNs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <p style="text-align: center; margin: 0; font-weight: lighter;">Use for reference purposes</p>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    The Notes of Femi
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- BOOTSTRAP TEST -->
<!-- <section class="sec">
  This page works!
<button class="btn btn-primary test-btn"> Test </button> -->
<!-- ACCORDION -->
<!-- <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
  <ngb-panel id="custom-panel-1">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="accordion-button custom-header justify-content-between" [class.collapsed]="!opened">
        <p class="m-0">First panel - {{ opened ? 'opened' : 'collapsed' }}</p>
        <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="accordion-button custom-header justify-content-between" [class.collapsed]="!opened">
        <p class="m-0">Second panel</p>
        <div>
          <button ngbPanelToggle class="btn btn-sm btn-outline-primary ms-2">Toggle second</button>
          <button type="button" class="btn btn-sm btn-outline-secondary ms-2" (click)="disabled = !disabled">
            {{ disabled ? 'En' : 'Dis' }}able third
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger ms-2" (click)="a.collapseAll()">Collapse all</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="accordion-button custom-header" [class.collapsed]="!opened">
        <button ngbPanelToggle class="p-0 btn btn-link container-fluid text-start ps-0">Third panel</button>
        <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelHeader>
      <button ngbPanelToggle class="accordion-button">Default-looking "custom" panel</button>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->
<!-- </section> -->


<!-- Footer -->
<!-- <footer class="bg-dark text-center text-white" style="margin-top: 550px;"> -->
<!-- Grid container -->
<!-- <div class="container p-4"> -->


<!-- Section: Text -->
<!-- <section class="mb-4"> -->
<!-- <p> -->
<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum -->
<!-- repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam -->
<!-- eum harum corrupti dicta, aliquam sequi voluptate quas. -->
<!-- </p> -->
<!-- </section> -->
<!-- Section: Text -->

<!-- Section: Links -->
<!-- <section class=""> -->
<!--Grid row-->
<!-- <div class="row"> -->
<!--Grid column-->
<!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> -->
<!-- <h5 class="text-uppercase">Links</h5> -->

<!-- <ul class="list-unstyled mb-0"> -->
<!-- <li> -->
<!-- <a href="#!" class="text-white">Link 1</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!--Grid column-->

<!--Grid column-->
<!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> -->
<!-- <h5 class="text-uppercase">Links</h5> -->

<!-- <ul class="list-unstyled mb-0"> -->
<!-- <li> -->
<!-- <a href="#!" class="text-white">Link 1</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!--Grid column-->

<!--Grid column-->
<!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> -->
<!-- <h5 class="text-uppercase">Links</h5> -->

<!-- <ul class="list-unstyled mb-0"> -->
<!-- <li> -->
<!-- <a href="#!" class="text-white">Link 1</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!--Grid column-->

<!--Grid column-->
<!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> -->
<!-- <h5 class="text-uppercase">Links</h5> -->

<!-- <ul class="list-unstyled mb-0"> -->
<!-- <li> -->
<!-- <a href="#!" class="text-white">Link 1</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!--Grid column-->
<!-- </div> -->
<!--Grid row-->
<!-- </section> -->
<!-- Section: Links -->
<!-- </div> -->
<!-- Grid container -->

<!-- Copyright -->
<!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> -->
<!-- The Notes of Femi -->
<!-- </div> -->
<!-- Copyright -->
<!-- </footer> -->
<!-- Footer -->
