<p>form-duplication-page works!</p>

<section class="text">
  <div class="card card-header">
    <div class="card-body" id="formDuplication">
      <p style="text-align: center;">Steps for Implementing</p>
      <!-- Form -->
      <div  [formGroup]="MasterDiv" class="masterDiv">
        <div formArrayName="eachStep" *ngFor="let step of eachStep.controls; let i = index" class="entryDiv"> <!-- this guy is the array that holds the duplicates-->
          <div [formGroupName]="i"> <!-- each duplicate -->
              <input formControlName="step" [placeholder]="i + 1" class="div1 col-md-4">
              <input formControlName="description" placeholder="description" class="div1 div2 col-md-4">
              <select formControlName="status" class="div1 col-md-4" style="color: white;">
                <!-- <option value="status">Status</option> -->
                <option value="Done">Done</option>
                <option value="Pending">Pending</option>
                <option value="Unknown">Unknown</option>
              </select>
          </div>
        </div>
      </div>
      <!-- Form End -->
      <div class="btn duplicateBtn" (click)="duplicateFn()">Duplicate</div>
      <div class="btn logBtn" (click)="logClick()">Log</div>
    </div>
    <!-- <app-stars></app-stars> -->
  </div>




  <!-- ---------------------- NOTES -----------------------  -->
  <hr> <br> <br>
  <div>
    <h3>Notes</h3> <br>
    <p>--the syntax <span class="codeC2">FormGroupName="stuff"</span> is used to address a form group that's nested inside another form group. The master form group is made with the data binding syntax <span class="codeC2">[FormGroup]="nameInTs"</span>. </p>
    <p>We're essentially making a master formGroup, with a formArray of form groups inside it. Think of it visially this way: <br>
       <span style="color: rgb(255, 185, 123);">(formGroup <span class="codeC2">(formArray <span style="color:aqua">[formGroup]</span> )</span> )</span></p>
<p>Steps:</p>
    <ol>
      <li>Make a function to generate the form group. "<span class="codeC2">generateEntryInstance()</span>"</li>
      <li>Make your master formGroup. That formGroup would have in it a formArray, which would hold the instances generated. <br>
        -- In other words, in the master formGroup, make the relevant formControl you want to duplicate into a formArray. The array contains the fn to generate the formGroup to be duplicated "<span class="codeC2">this.generateEntryInstance()</span>"</li>
      <li>Define fomArray 'eachStep' as a <span class="codeC2">"get"</span> so that the duplicate fn can identify what to push to.</li>
      <li>A duplicate fn "<span class="codeC2">duplicateFn()</span>" onClick of the duplicate button. The fn pushes an instance of the generation function into the formArray.</li>
      <li>Use ngFor to loop the FormArray to be duplicated. <span class="codeC2">*ngFor="let step of eachStep.controls; let i = index"</span>. Then you wrap what to duplicate in a div with property <code class="codeC2">[formGroupName]="i"</code> so that it'll find the formGroup.</li>
    </ol> <br>
    <p>Here's the code snippet for 1, 2, 3 and 4 respectively.</p> <br>
    <div class="frame">
      <code>
        <p class="comment">1</p>
        generateEntryInstance(): FormGroup {{"{"}}       <br>
        &nbsp;  return this.fb.group({{"{"}}       <br>
        &nbsp;&nbsp;    step: '',       <br>
        &nbsp;&nbsp;    status: '',       <br>
        &nbsp;&nbsp;    description: '',       <br>
        &nbsp;  {{"}"}})       <br>
        {{"}"}}       <br> <br>

        <p class="comment">2</p>
        this.MasterDiv = this.fb.group({{"{"}}   <br>
        &nbsp; <span class="blue">eachStep: this.fb.array([ this.generateEntryInstance() ])</span>    <br>
        {{"}"}});   <br> <br>

        <p class="comment">3</p>
        get eachStep(): FormArray{{'{'}} <br>
          &nbsp;  return &lt;FormArray>this.MasterDiv.get('eachStep') <br>
        {{'}'}}   <br> <br>

        <p class="comment">4</p>
        duplicateFn() {{"{"}}    <br>
        &nbsp;  this.eachStep.push(this.generateEntryInstance());    <br>
          {{"}"}}    <br>

      </code>
    </div>
  </div>
</section>
